/**************/
/*   Colors   */
/**************/
$color1: #7c4a96; /* Black */
$color2: #f4f2f0; /* White */

/**************/
/*   Fonts    */
/**************/
$font: "Lato", arial, sans-serif;
$fontSub: "Playfair Display", georgia, serif;

/**************/
/*   Size    */
/**************/
$screen: 1200px;